<% content_for :title do %>About<% end %>
<h3>About Hannah Baril</h3>
<p>She was born in Mindanao. She left her hometown to work in Manila.</p>
<p>She wants to become a Digital Nomad.
<p>Her favorite quotation is:</p>
<p>Soar the SKY</p>
