<% content_for :title do %>About<% end %>
<h3>About Foobar Kadigan</h3>
<p>She was born in Mindanao. She left her hometown to work in Manila.</p>
<p>She wants to become a Digitail Nomad.
<p>His favorite quotation is:</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua.</p>
